<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Flashlight Duty</title>

      <!--fonts -->
     <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
     <link href='http://fonts.googleapis.com/css?family=Raleway:200,400,800' rel='stylesheet' type='text/css'>

     <!--Style Sheets-->
    <link rel="stylesheet" href="/css/darkroom.css">
    <link rel="stylesheet" href='/css/chat.css'>

    <!--MAIN-->
    <link rel="stylesheet" href="/css/main.css">
    <!--PARTIALS-->

    </head>
    <body>
      {% block content %}
      {% endblock %}

  <!--JQUERY-->
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//documentcloud.github.io/underscore/underscore-min.js"></script>

  <!--SOCKETS-->
  <script src="/socket.io/socket.io.js"></script>

  <!--BOOTSTRAP-->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

   <!--canvas background inspired by -->
  <script type="text/javascript" src="http://www.marcoguglielmelli.it/Codepen/AnimatedHeaderBg/demo-1/js/TweenLite.min.js"></script>
  <!--HOME-->
  <script src="/js/home/home_canvas_bg.js"></script>

  <!-- DARKROOM -->
    <script src="/js/darkroom/darkroom.js"></script>
    <script src="/js/darkroom/chat.js"></script>
    <script src="/js/darkroom/play.js"></script>
    <script src="/js/profile/profileBg.js"></script>

  <!--N.io-->
     <!--nio.js non-minified version-->
    <script src="/js/nio/nio.js"></script>
    <!--nio filtering-->
    <script src="/js/nio/nio2.js"></script>


  </body>
</html>
